body{
    margin: auto;
    text-align: center;
}
main{
    height: 500px;
    display: grid;
    align-items: center;
}

main img{
    width: 200px;
    height: 200px;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
    
    
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

/* This css file has been changed too */